{% extends 'base.html.twig' %}

{% block title %}Edit Genre{% endblock %}

{% block body %}
    <fieldset style="border:10px solid #01579B;padding :30px;background:#81D4FA">
    <center><legend style="background-color: #01579B;color: #fff;padding: 5px 10px;">"Modifier Genre"</legend></center>

    {{ include('genre/_form.html.twig', {'button_label': 'Update'}) }}<br>
    {{ include('genre/_delete_form.html.twig') }}<br>


    <a href="{{ path('genre_index') }}">back to list</a>

{% endblock %}
