{% extends 'base.html.twig' %}

{% block title %}New Genre{% endblock %}

{% block body %}
    <fieldset style="border:10px solid black;padding :30px;">
    <center><legend style="background-color: black;color: #fff;padding: 5px 10px;">Genres</legend></center>


    {{ include('genre/_form.html.twig') }}

    <a href="{{ path('genre_index') }}" class="btn btn-primary mt-1">back to list</a>
{% endblock %}
