{% extends 'base.html.twig' %}

{% block title %}New Livre{% endblock %}

{% block body %}

    <fieldset style="border:10px solid #263238;padding :30px;background:#B0BEC5">
    <center><legend style="background-color: #263238;color: #fff;padding: 5px 10px;">"Ajouter nouveau Livre"</legend></center>

    {{ include('livre/_form.html.twig') }}

    <a href="{{ path('livre_index') }}">back to list</a>
{% endblock %}
