{% extends 'base.html.twig' %}

{% block title %}New Auteur{% endblock %}

{% block body %}
    <fieldset style="border:10px solid #1B5E20;padding :30px;background:#A5D6A7">
    <center><legend style="background-color: #1B5E20;color: #fff;padding: 5px 10px;">"Ajouter nouveau Auteur"</legend></center>
    
        {{ include('auteur/_form.html.twig') }}
    <a href="{{ path('auteur_index') }}">back to list</a>
    </fieldset>
{% endblock %}
