{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

    <fieldset style="border:10px solid black;padding :30px;">
    <center><legend style="background-color: black;color: #fff;padding: 5px 10px;">Utilisateur</legend></center>
    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}" class="btn btn-primary mb-3">back to list</a>
{% endblock %}
