{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

    <fieldset style="border:10px solid #212121;padding :30px;background:#E0E0E0">
    <center><legend style="background-color: #212121;color: #fff;padding: 5px 10px;">"Ajouter un nouveau User"</legend></center>
    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">back to list</a>
{% endblock %}
